body{
  background-image: url("Rainbow2.png");
  background-blend-mode: normal;
  background-repeat: no-repeat;
  background-position: 25% center;
  background-color: #e2dbc8;
  margin: 25px;
  padding: 10px;
  background-size: 30%;
  background-attachment: fixed;
}


button{
  width: 154px;
  align-self: center;
  border: 1px solid #94866d;
}


.color-slider{
  width: 150px;
  align-self: center;
}
.app-container{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  margin-left: 15px;
  margin-top: 15px;
}

.tutorial-container{
  position: absolute;
  bottom: 0;
  left: calc(100% + 20px);
  display: none;
  width: 500px;
  background-color: #d8ccb4;
  border: 1px solid #94866d;
}
.tutorial-button{
  width: 15px;
  height: 15px;
  border: none;
  background-color: #d8ccb4;
  background-image: url('lumbridge.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 5px;
  bottom: 12.5%;
}
.export-copy-button{
  margin-right: 20px;
  background-color: #b8a282;
  width: auto;
}
.export-download-button{
  margin-left: 20px;
  background-color: #b8a282;
  width: auto;
}
.title-bar{
width: 500px;
border: 1px solid #94866d;
background-color: #b8a282;
border-bottom: none;
}

.content-container{
width: 500px;
background-color: #d8ccb4;
border: 1px solid #94866d;
}

.form-container form {
display: flex;
flex-direction: column;
height: 140px;
padding: 10px;
}

.set-container{
margin-top: 1px;
margin-bottom: 1px;
border-top: 1px solid #94866d;
padding: 10px;
position: relative;
}

.exported-set-container{
border-top: 1px solid #94866d
}

.post-buttons-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.set-container div {
  grid-gap: 5px;
}

.gear-visualizer{
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr);
  font-size: 10px;
  height: 480px;
}

.head, :is(.locked-head){
  grid-row: 1;
  grid-column: 2;
}

.cape, :is(.locked-cape){
  grid-row: 2;
  grid-column: 1;
}

.neck, :is(.locked-neck){ 
  grid-row: 2;
  grid-column: 2;
}

.weapon, :is(.locked-weapon){ 
  grid-row: 3;
  grid-column: 1;
}
.body, :is(.locked-body){
  grid-row: 3;
  grid-column: 2
}
.shield, :is(.locked-shield){ 
  grid-row: 3;
  grid-column: 3;
}
.legs, :is(.locked-legs){ 
  grid-row: 4;
  grid-column: 2;
}
.hands, :is(.locked-hands){ 
  grid-row: 5;
  grid-column: 1;
}
.feet, :is(.locked-feet){ 
  grid-row: 5;
  grid-column: 2;
}

[class="2h"], :is(.locked-2h) {
  display: none;
  grid-row: 3;
  grid-column: 1;

}

[class^="locked-"] {
background-color: #9a9790;

}

.gear-visualizer div {
  position: relative;
  padding-bottom: 23px;
  border: 1px solid #94866d;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  max-width: 100px;
  max-height: 100px;
}

.lock-button{
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 0;
  left: 20%;
  transform: translateX(-50%);
  text-align: center;
  background-color: inherit;
  background-image: url('protectitem.png');
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}

.reroll-button{
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 0;
  right: 10%;
  background-color: inherit;
  font-size: 10px;
  background-image: url('smite.png');
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}
.export-button{
  margin-top: 20px;
  background-color: #b8a282;
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 5px;
  width: auto;
}
.toggle-icons-button{
  margin-top: 10px;
  width: 100px;
  background-color: gray;
  margin-right: auto;
}
.toggle-borders-button{
  margin-top: 5px;
  width: 100px;
  background-color: gray;
  margin-right: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-input-container{
  display: None;
}
